################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MVC/CIPlatform/App_Data/CI Platform_log.ldf
