@model CIPlatform.Entities.ViewModel.MissionData

<style>
    .applyButton {
        border: 2px solid #F88634;
        border-radius: 100px;
        color: #F88634;
        background-color: white;
        padding-left: 20px;
        padding-right: 20px;
    }

        .applyButton:hover {
            background-color: #F88634;
            color: white;
        }

    #image-preview .preview-container {
        display: inline-block;
        position: relative;
        margin: 5px;
        width: 100px;
        height: 100px;
        overflow: hidden;
    }

        #image-preview .preview-container img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            max-width: 100%;
            max-height: 100%;
        }

        #image-preview .preview-container .remove-icon {
            position: absolute;
            top: 5px;
            margin-left: 40px;
            color: #fff;
            font-size: 14px;
            cursor: pointer;
        }
</style>
<script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
<partial name="_FirstNav" />
<div class="container">
    <form>
    <h3>Share Your Story</h3>
    <br />


    <div class="row">
        <div class="col-lg-4 pe-2">
            Select Mission
            <select asp-for="MissionId" class="form-select  my-2" data-bs-toggle="dropdown" aria-placeholder="dropdown">
                <option disabled selected>select your mission</option>
                @foreach (var obj in ViewBag.MissionData)
                {
                    <option value="@obj.MissionId">@obj.Title</option>
                }
            </select>
        </div>

        <div class="col-lg-4 pe-2">
            My Story title
            <div class="row-cols-auto my-2 "><input asp-for="Title" type="text" class="form-control" placeholder="Enter Story Title"></div>
        </div>
        <div class="col-lg-4">
            Date
            <div class="row-cols-auto my-2 "><input asp-for="CreatedAt" type="date" class="form-control"></div>
        </div>
    </div>

    <div class="col-12 col-md-12 mt-3 ">
        My Story
        <div class="row my-2">
            <textarea id="editor" asp-for="Description"></textarea>
        </div>
    </div>
    <br />

    <div class="col-12">
        Enter Video URL
        <input type="text" class="form-control my-2" placeholder="enter video url">
    </div>
    <br />

            <div class="images w-100 mt-4 ">
                <label class="form-label">Upload Your Photos</label>
                <div class="w-100 border rounded d-flex flex-column align-items-center justify-content-center" style="height:100px;border-style:dashed;">
                    <img src="~/Assets/images/add.png" style="cursor:pointer;position:relative; top:20px;" />
                    <input type="file" accept="image/*" onchange="loadimages()" id="images" style="opacity:0;cursor:pointer;" multiple />
                    <p style="margin-block:0px;cursor:pointer;"> Upload Pictures Here</p>
                </div>
                <div id="image-preview"></div>
                <div id="selected-count"></div>
                <span class="text-danger d-none" id="image">At Least Select One Image</span>
                <div class="gallary mt-4 d-flex flex-wrap">
                </div>
            </div>





        <br />
        

        <div class="row">
            <div class="col-lg-6 col-6 ">
                <button type="submit" class="btn applyButton cancel  px-3" onclick=" location.href='@Url.Action("StoryListing","Story")' ">Cancel</button>
            </div>

            <div class="col-lg-6 col-6  d-flex justify-content-end">
                <button type="submit" class="btn applyButton save  me-2 ">Save</button>
                <button type="submit" asp-controller="Story" asp-action="AddStory" class="btn applyButton submit ">Submit</button>
            </div>


        </div>


        </form>

    </div>
    @section Scripts {
    <script>
        $(function() {
             var selectedCount = 0;
            var selectedCountElement = $('#selected-count');
            // Listen for changes to the file input element
            $('#images').on('change', function() {
                // Clear any previous preview images
                $('#image-preview').empty();

                selectedCount = 0;
                selectedCountElement.html('0 images selected');
                // Loop through the selected files
                $.each(this.files, function(i, file) {
                    // Create a container for the preview image and remove button
                    var container = $('<div />', { class: 'preview-container' });
                    // Create an image element to show the preview
                    var img = $('<img  />');
                    img.attr('src', URL.createObjectURL(file));
                    img.attr('alt', file.name);
                    // Create a remove button to remove the image from the preview
                    var removeBtn = $('<img />', { class: 'remove-icon' });
                    removeBtn.attr('src',"/Assets/images/cancel1.png");
                    removeBtn.attr('alt', file.name);


                    removeBtn.html('&#x2715;');
                    removeBtn.on('click', function() {
                        container.remove();
                        selectedCount--;
                        selectedCountElement.html(selectedCount + ' images selected');
                    });
                    // Add the image and remove button to the container
                    container.append(img, removeBtn);
                    // Add the container to the preview container
                    $('#image-preview').append(container);
                    selectedCount++;
                    selectedCountElement.html(selectedCount + ' images selected');
                });
            });
        });
    </script>
    }
    <script>
                    tinymce.init({
                     selector:'#editor',
                     menubar: false,
                     statusbar: false,
                     plugins: 'autoresize anchor autolink charmap code codesample directionality fullpage help hr image imagetools insertdatetime link lists media nonbreaking pagebreak preview print searchreplace table template textpattern toc visualblocks visualchars',
                     toolbar: ' bold italic strikethrough  backcolor | link image media | removeformat help fullscreen ',
                     skin: 'bootstrap',
                     toolbar_drawer: 'floating',
                     min_height: 200,
                     autoresize_bottom_margin: 16,
                     setup: (editor) => {
                         editor.on('init', () => {
                             editor.getContainer().style.transition="border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out"
                         });
                         editor.on('focus', () => {
                             editor.getContainer().style.boxShadow="0 0 0 .2rem rgba(0, 123, 255, .25)",
                             editor.getContainer().style.borderColor="#80bdff"
                         });
                         editor.on('blur', () => {
                             editor.getContainer().style.boxShadow="",
                             editor.getContainer().style.borderColor=""
                         });
                     }
                 });


        //const input = document.querySelector("input")
        //const output = document.querySelector("output")
        //let imagesArray = []

        //input.addEventListener("change", function() {

        //})

        // input.addEventListener("change", () => {
        //   const file = input.files
        //   imagesArray.push(file[0])
        //   displayImages()
        // })

        // function displayImages() {
        //   let images = ""
        //   imagesArray.forEach((image, index) => {
        //     images += `<div class="image">
        //                 <img src="${URL.createObjectURL(image)}" alt="image">
        //                 <span onclick="deleteImage(${index})">&times;</span>
        //               </div>`
        //   })
        //   output.innerHTML = images
        // }

        // function deleteImage(index) {
        //       imagesArray.splice(index, 1)
        //       displayImages()
        //     }



    </script>
