<link rel="stylesheet" href="~/Assets/css/story.css" />
@if (TempData["SubmitStory"] != null)
{

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>

    <script type="text/javascript">
        
        toastr.success('@TempData["SubmitStory"]')
    </script>
    
}

<partial name="_FirstNav" />
<partial name="_SecondNav" />

<div class="container-fluid">
    <div class="row">
        <div class="howerimg p-0">
            <img src="~/Assets/images/Grow-Trees-On-the-path-to-environment-sustainability-login.png" class="img-fluid" alt="Avatar" width="100%" height="400px" style="object-fit:cover; object-position: 50% 45%">
            <div class=" overlayforhower1 flex-column">
                <p class="text-white">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellendus praesentium
                    labore accusamus sequi, voluptate debitis tenetur in deleniti possimus modi voluptatum
                    neque maiores dolorem unde? Aut dolorum quod excepturi fugit.
                </p>
                <a asp-controller="Story" asp-action="AddStory" class="btn bg-transparent border-white rounded-pill">
                    <span style="color:white">Share your Story &nbsp;<i class="bi bi-arrow-right"></i></span>
                </a>
            </div>
        </div>
    </div>
    <br />
</div>

<div id="storylist">
    <partial name="_StoryList" />
</div>

<br /><br />

<script type="text/javascript" language="javascript">
    
function GetCity(){
      var countryId= [];

    $('input[name="country"]:checked').each(function(){
    countryId.push(this.id);
    });
        debugger
            $.ajax({
            url:"/Story/GetCity",
            method: "Post",

            data: {
            "countryId":countryId
            },

            success:function(data){

            data = JSON.parse(data);
            $("#selectCityList").empty();

            data.forEach((name)=> {
                        document.getElementById("selectCityList").innerHTML += `
                <li>
        <div class="form-check dropdown-item px-3">
        <input class="form-check-input mx-auto" name="city" type="checkbox" value="${name.CityName}"
        id="${name.CityId}" />
        <label class="form-check-label ps-2" for="${name.CityId}">
        ${name.CityName}
        </label>
        </div>
        </li>
            `;
            })
            },
            error: function(request,error){
            console.log(error);
            }
            })
            };

function searchMission(pg) {
        console.log("abc");
        var search = $('input[name="search"]').val();
        var sort = $('#sortby').find(":selected").val();
        var countries = [];
        var cities = [];
        var themes = [];
        var skills = [];

        if(pg == undefined)
        {
            pg = 1;
        }
        
        $('input[name="country"]:checked').each(function () {
            countries.push(this.id);
        });
        $('input[name="city"]:checked').each(function () {
            cities.push(this.id);
        });
        $('input[name="theme"]:checked').each(function () {
            themes.push(this.id);
        });
        $('input[name="skill"]:checked').each(function () {
            skills.push(this.id);
        });
    debugger;
        $.ajax({
            url: "/Story/SearchStory",
            method: "POST",
            data: {
                "search": search,
                "countries": countries,
                "cities": cities,
                "themes": themes,
                "skills": skills,
                "sort" : sort,
                "pg" : pg
            },
            success: function (data) {
                $('#storylist').html(data);
            },
            error: function (request, error) {
                console.log(error);
            }
        })
        
    }

</script>