<body class="container">

    <h3 class="p-4" style="text-align:center">No Mission Found ...</h3>
    <div class=" text-center pb-2">
        <button type="submit" href="#" class="btn rounded-5  " style="border-color: #F88634; color: #F88634;"> Submit New Mission &nbsp; &nbsp; <i class="bi bi-arrow-right"></i></button>
    </div>
    </body>