 <style>
     .page-item.active .page-link {
    background-color: #F88634;
    border-color: #F88634;
}

 .page-item > .page-link {
    color: black;
}
 </style> 

 
 <div class="col-12 border p-4" >
                    <h3>Recent Volunteers</h3>
                    <hr />
                    <div class="row">
                        @if (@ViewBag.RecentVolunteer != null)
                        {
                            @foreach (var volunteer in @ViewBag.RecentVolunteer)
                            {

                                <div class="col-4 d-flex flex-column align-items-center text-center">
                                    <img src="~/Assets/StoryImages/@volunteer.Avatar" class="rounded-circle " height="70px" width="70px" />
                                    <h6 style="font-size:15px;">@volunteer.UserName</h6>
                                </div>
                        
                            }
                             
                        }
                    </div>

                    <div class="pb-0">
                    <partial name="_Pagination" /></div>
 </div>

           