@model CIPlatform.Entities.ViewModel.ForgotPassword

  <link href="~/Assets/css/style.css" rel="stylesheet">


@if (TempData["InvalidEmail"] != null)
{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script type="text/javascript">
         toastr.options = {
            "closeButton": true,
            "progressBar": true
        }
        toastr.error('@TempData["InvalidEmail"]', { timeOut: 100 })
    </script>
    
}

<body>
  <div class="row">

        <partial name="_Image" />

    <div class="col-lg-3">

      <div class="container h-100">
        <div class="row h-100 justify-content-center align-items-end">
          <div class="col-10 col-md-8 col-lg-12">
            <form class="form-example" action="" method="post">
              <div class="form-group" style="text-align: center;">
                <h5>Forget password</h5>
                <h6>@ViewBag.sessionV</h6>
                <h6>@ViewBag.session</h6>
                <p>Enter your email address you've using for your account below and we will send you a password reset
                  link</p>
              </div><br>
              <div class="form-group my-2">
                <label for="username">Email Address</label>
                <input type="text" class="form-control username my-2" id="email"
                  placeholder="Enter your email address..." name="email" asp-for="email">
                  <span asp-validation-for="email" class="text-danger" style="font-size:smaller;"></span>
              </div>

              <button type="submit" asp-controller="User" asp-action="ForgotPassword" class="btn btn-outline-warning my-2 w-100" style="border-radius: 25px;">Reset my
                password</button>
              <div class="row">
                <a asp-action="Login" class="link-secondary my-2"
                  style="text-align: center;  margin-bottom: 40px;">Login</a>
              </div>

            </form>
          </div>
          <div class="policy">
            <a href="#" class="link-secondary">Privacy Policy</a>
          </div>
        </div>
      </div>
    </div>




  </div>

</body>

</html>

<script type="text/javascript" language="javascript">
function DisableBackButton() {
window.history.forward();
}
DisableBackButton();
window.onload = DisableBackButton;
window.onpageshow = function (evt) { if (evt.persisted) DisableBackButton(); }
window.onunload = function () { void (0); };
</script>
@section Scripts{
    @{

    <partial name="_ValidationScriptsPartial" />
    }

}
