@model CIPlatform.Entities.Models.User



@section hidefooter {}


@if (TempData["RegisterSuccess"] != null)
{

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>

    <script type="text/javascript">
       
        toastr.success('@TempData["RegisterSuccess"]')
    </script>
    
}
@if (TempData["Fail"] != null)
{

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>

    <script type="text/javascript">
       
        toastr.error('@TempData["Fail"]')
    </script>

}
@if (TempData["ResetSuccess"] != null)
{

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>

    <script type="text/javascript">
        
        toastr.success('@TempData["ResetSuccess"]')
    </script>

}
@if (TempData["LinkSent"] != null)
{

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>

    <script type="text/javascript">
        
        toastr.success('@TempData["LinkSent"]')
    </script>

}


  <link href="~/Assets/css/style.css" rel="stylesheet">


<body>
    <div class="row">

        <partial name="_Image" />

        <div class="col-lg-3">

            <div class="container h-100">
                <div class="row h-100 justify-content-center align-items-end">
                    <div class="col-10 col-md-8 col-lg-12">
                        <form class="form-example" action="" method="post">
                            <div class="form-group my-2">
                                <label asp-for="Email">Email Address</label>
                                <input type="email" asp-for="Email" class="form-control my-2 mb-0" id="email" placeholder="Username"
                                       name="email">
                                       <span asp-validation-for="Email" class="text-danger" style="font-size:smaller"></span>
                            </div>
                            <div class="form-group my-2">
                                <label asp-for="Password">Password</label>
                                <input type="password" asp-for="Password" class="form-control my-2 mb-0" id="password" placeholder="Password"
                                       name="password">
                                 <span asp-validation-for="Password" class="text-danger" style="font-size:smaller;"></span>

                            </div>

                            <button type="submit" asp-controller="User" asp-action="Login" class="btn applyButton my-2 w-100"
                                    style="border-radius: 25px;">
                                Login
                            </button>
                            <div class="row">
                                <a asp-action="ForgotPassword" class="link-secondary my-2" style="text-align: center;">
                                    Lost your
                                    Password?
                                </a>
                            </div>

                            <div class="form-group" style="text-align: center; margin-bottom: 40px;">
                                <p style="margin-bottom: 0px;">
                                    Don't have account?
                                    <span> <a asp-action="Register" class="link-primary ">Create Account</a> </span>
                                </p>
                            </div>



                        </form>

                    </div>
                    <div class="policy">
                        <a asp-controller="Admin" asp-action="Index" class="link-secondary">Privacy Policy</a>
                    </div>
                </div>
            </div>
        </div>




    </div>

</body>


