@*@using CIplatform.Entities.ViewModels
@model StorylistingViewModel*@

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
<script src="https://cdn.tiny.cloud/1/your-tinymce-apikey/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
<style>

    .tox-menubar, .tox-notifications-container, .tox-statusbar__branding, .tox-statusbar__path-item {
        display: none !important;
    }

    .tox-toolbar, .tox-toolbar__primary, .tox-statusbar {
        background-color: lightgray !important;
    }

    .file {
        width: 100%;
        height: 100%;
        position: absolute;
        opacity: 0;
        cursor: pointer;
    }

    output {
        width: 100%;
        min-height: 150px;
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        gap: 15px;
        position: relative;
        border-radius: 5px;
    }

        output .image {
            height: 100%;
            border-radius: 5px;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
            overflow: hidden;
            position: relative;
        }

            output .image img {
                height: 75px;
                width: 75px;
            }

            output .image span {
                position: absolute;
                top: -4px;
                right: 4px;
                font-size: 22px;
                color: white;
            }

                output .image span:hover {
                    opacity: 0.8;
                }

        output .span--hidden {
            visibility: hidden;
        }
</style>




<div class="container-fluid">


    <div class="container">

        <h1>Share Your Story</h1>

        <div class="row mt-5">

            <div class="col-4">
                <div class="form-group">
                    <label class="form-label" for="SelectMission">Select Mission</label>

                    <select class="form-select w-100" id="SelectMission" required>
                        <option selected disabled value="0">select your mission</option>
                        @*@{
                            int missionCount = 0;
                        }
                        @if (@ViewBag.UserId != null)
                        {
                            @foreach (var obj in Model.missions)
                            {
                                foreach (var user in Model.missionapplication) if (user.UserId == ViewBag.UserId && user.MissionId == obj.MissionId)
                                    {
                                        missionCount++;
                                        <option value=@obj.MissionId>@obj.Title</option>
                                    }

                            }
                            @if (missionCount == 0)
                            {
                                <option value="">Please apply atleast one mission to add story...</option>

                            }
                        }
                        else
                        {
                            <option value="">Please Login</option>
                        }*@
                    </select>
                </div>
            </div>
            <div class="col-4">
                <div class="form-group">
                    <label for="StoryTitle">My Story Title</label>
                    <input type="text" class="form-control w-100 mt-2" id="StoryTitle" placeholder="Enter story title" required>
                </div>

            </div>
            <div class="col-4">
                <div class="form-group">
                    <label for="StoryTitle">Date</label>
                    <input type="date" class="form-control w-100 mt-2" id="StoryDate" required>
                </div>

            </div>

        </div>
        <div class="row">
            <div class="col-12 my-3">
                <div class="form-group">
                    <label for="MyStory">My Story</label>
                    <textarea id="storytext" required></textarea>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <label for="VideoUrl">Enter Video URL</label>
                    <input type="text" class="form-control w-100" id="VideoUrl" placeholder="Enter Your URL">
                </div>

            </div>
        </div>

        <div class="row mt-2">
            <div class="col-12">
                <div class="form-group">
                    <label>Upload Your Photos</label>
                    <div class="input-div d-flex justify-content-center align-items-center text-center bg-white position-relative border" style="height:150px">
                        <img src=~/images/drag-and-drop.png>
                        <input id="imageupload" type="file" class="file" multiple="multiple" accept="image/jpeg, image/png, image/jpg">
                    </div>
                </div>

            </div>
        </div>

        <output id="preview"></output>
        <div class="d-flex justify-content-between mt-2">
            <div>
                <button class="btn btn-outline-secondary rounded-pill" style="width:100px">Cancel</button>
            </div>
            <div>
                <button class="btn btn-outline-warning rounded-pill me-2" style="width:100px" id="savebtn">Save</button>
                <button class="btn btn-outline-warning rounded-pill" style="width:100px" id="submitbtn">Submit</button>
            </div>
        </div>


    </div>


</div>

<script>
    tinymce.init({
        selector: '#storytext',
        plugins: 'link image code',
        toolbar: ' bold italic strikethrough | superscript subscript removeformat',
        height: 300
    });
    const inputDiv = document.querySelector(".input-div")
    const input = document.querySelector("#imageupload")
    const output = document.querySelector("#preview")
    let imagesArray = []
    input.addEventListener("change", () => {

        const files = input.files
        for (let i = 0; i < files.length; i++) {
            imagesArray.push(files[i])
        }
        displayImages()
    })
    inputDiv.addEventListener("drop", () => {
        e.preventDefault()
        const files = e.dataTransfer.files
        for (let i = 0; i < files.length; i++) {
            if (!files[i].type.match("image")) continue;

            if (imagesArray.every(image => image.name !== files[i].name))
                imagesArray.push(files[i])
        }
        displayImages()
    })
    function displayImages() {
        let images = ""
        imagesArray.forEach((image, index) => {
            images += `<div class="image storyimages">
        <img src="${URL.createObjectURL(image)}" alt="image">
        <span onclick="deleteImage(${index})">&times;</span>
        </div>`
        })
        output.innerHTML = images
    }
    function deleteImage(index) {
        imagesArray.splice(index, 1)
        displayImages()
    }
</script>

<script>

    $(document).ready(function () {
        $("#savebtn").click(function () {
            AddStory(1);
        });
        $("#submitbtn").click(function () {
            AddStory(2);
        });
        function AddStory(savestatus) {
            var savestaus = savestatus;
            var missionid = $("#SelectMission").find(":selected").val();
            var storytitle = $("#StoryTitle").val();
            var storydate = $("#StoryDate").val();
            var VideoUrl = $("#VideoUrl").val();
            var storytext = tinymce.activeEditor.getContent();
            var storyimages = [];
            $('.storyimages img').each(function () {
                storyimages.push($(this).attr('src'));
            });
            console.log(missionid);
            console.log(storyimages);
            if (missionid == 0 || missionid == "" || storytitle == "" || storydate == "" || VideoUrl == "" || storytext == "") {
                alert("All Fields are required..");
            }
            else {
                $.ajax({
                    url: '/Story/AddStory',
                    type: 'POST',
                    data: {
                        "savestaus": savestaus,
                        "missionid": missionid,
                        "storytitle": storytitle,
                        "storydate": storydate,
                        "VideoUrl": VideoUrl,
                        "storytext": storytext,
                        "storiesImg": storyimages
                    },
                    success: function (data) {
                        console.log(data);
                    }
                });
            }
        }
    });

</script>

<script>
    $(document).on('change', 'select', function () {
        var missionId = $(this).val();
        console.log(missionId);
        $.ajax({
            url: '/Story/GetDraftStory',
            type: 'POST',
            data: { "missionId": missionId },
            success: function (data) {
                console.log(data);
            }
        });
    });
</script>
