

<partial name="_FirstNav">



    <style>
        body {
            position: relative;
        }

        .list-group {
            position: sticky;
            top: 10px;
        }
    </style>

    <div class="container">
        <div class="row">
            <h1>Privacy and cookies Policy</h1>
            <br>
            <div class="col-sm-3">
                <div class="list-group">

                    <a class="list-group-item list-group-item-action " href="#item-1">Introducion</a>
                    <a class="list-group-item list-group-item-action" href="#item-2">How does use cookies?</a>
                    <a class="list-group-item list-group-item-action" href="#item-3">How to manage your cookies preferences?</a>
                </div>
            </div>
            <div class="col-sm-9">
                <div data-bs-spy="scroll" data-bs-target="#list-example" data-bs-offset="50" tabindex="0">
                    <div class="container   h-50">

                        <h2 id="item-1">Introducion</h2>
                        <br>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas non pulvinar elit. Donec euismod auctor eros, a facilisis enim faucibus eget. Nullam eu arcu at metus tincidunt varius. Donec a mi id nulla congue mattis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Sed eget velit eleifend, mollis orci sit amet, imperdiet leo. </p>
                        <br>
                        <p> Vestibulum bibendum tristique dolor, vitae pellentesque ex lobortis nec. Morbi et ex quis nibh ullamcorper lacinia. Donec tristique vel eros in dapibus. Fusce in ligula vitae odio mollis laoreet eget ac lectus. Sed a purus at nibh dapibus ultricies. Sed eget libero vitae lectus tincidunt convallis. Sed ultrices mi vel diam pretium, id semper arcu vestibulum. Nullam sit amet mauris lectus.</p>
                        <br>
                        <p>programming language that is designed to have as </p>
                        <p>few implementation dependencies as possible.</p>
                        <hr>
                    </div>
                    <div class="container  h-50">

                        <h2 id="item-2">How does use cookies?</h2>
                        <br>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas non pulvinar elit. Donec euismod auctor eros, a facilisis enim faucibus eget. Nullam eu arcu at metus tincidunt varius. Donec a mi id nulla congue mattis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Sed eget velit eleifend, mollis orci sit amet, imperdiet leo. </p>
                        <br>
                        <p> Vestibulum bibendum tristique dolor, vitae pellentesque ex lobortis nec. Morbi et ex quis nibh ullamcorper lacinia. Donec tristique vel eros in dapibus. Fusce in ligula vitae odio mollis laoreet eget ac lectus. Sed a purus at nibh dapibus ultricies. Sed eget libero vitae lectus tincidunt convallis. Sed ultrices mi vel diam pretium, id semper arcu vestibulum. Nullam sit amet mauris lectus.</p>
                        <br>
                        <p>programming language that is designed to have as </p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur dapibus ligula in velit blandit varius. Sed vel turpis quis quam fringilla pulvinar. Pellentesque at ipsum ligula. Nullam consequat auctor tellus, sed tincidunt ipsum vestibulum nec. In vel est vel ante dignissim elementum. Sed sollicitudin semper lacinia. Suspendisse eget velit vel orci molestie vehicula. Etiam vitae purus euismod, iaculis elit sed, interdum sapien.</p>
                        <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nunc in velit in nulla tincidunt luctus. Maecenas pretium ullamcorper tellus eget scelerisque. In convallis, dolor eu suscipit tempor, enim turpis euismod massa, eu pellentesque eros elit ut orci. Vivamus eu aliquam odio. Pellentesque ultricies nisl nec quam dignissim, nec pellentesque odio aliquam. Integer commodo bibendum felis id facilisis.</p>
                        <hr>
                    </div>
                    <div class="container   h-50">

                        <h2 id="item-3">How to manage your cookies preferences?</h2>
                        <br>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas non pulvinar elit. Donec euismod auctor eros, a facilisis enim faucibus eget. Nullam eu arcu at metus tincidunt varius. Donec a mi id nulla congue mattis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Sed eget velit eleifend, mollis orci sit amet, imperdiet leo. </p>
                        <br>
                        <p> Vestibulum bibendum tristique dolor, vitae pellentesque ex lobortis nec. Morbi et ex quis nibh ullamcorper lacinia. Donec tristique vel eros in dapibus. Fusce in ligula vitae odio mollis laoreet eget ac lectus. Sed a purus at nibh dapibus ultricies. Sed eget libero vitae lectus tincidunt convallis. Sed ultrices mi vel diam pretium, id semper arcu vestibulum. Nullam sit amet mauris lectus.</p>
                        <br>
                        <p>programming language that is designed to have as </p>
                        <p>few implementation dependencies as possible.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur dapibus ligula in velit blandit varius. Sed vel turpis quis quam fringilla pulvinar. Pellentesque at ipsum ligula. Nullam consequat auctor tellus, sed tincidunt ipsum vestibulum nec. In vel est vel ante dignissim elementum. Sed sollicitudin semper lacinia. Suspendisse eget velit vel orci molestie vehicula. Etiam vitae purus euismod, iaculis elit sed, interdum sapien.</p>
                        <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nunc in velit in nulla tincidunt luctus. Maecenas pretium ullamcorper tellus eget scelerisque. In convallis, dolor eu suscipit tempor, enim turpis euismod massa, eu pellentesque eros elit ut orci. Vivamus eu aliquam odio. Pellentesque ultricies nisl nec quam dignissim, nec pellentesque odio aliquam. Integer commodo bibendum felis id facilisis.</p>
                        <p>Aliquam pulvinar tortor et est suscipit, ut accumsan ipsum sagittis. Sed et convallis odio, non posuere purus. Donec ut bibendum ex, a consequat tortor. Praesent a sapien ut mi convallis suscipit. Aenean vitae augue velit. Morbi efficitur aliquam turpis, at sagittis dolor varius ac. In mollis, mauris quis sollicitudin vulputate, est mauris molestie libero, vitae commodo orci tellus vel lacus. Praesent efficitur dolor vel nisl rhoncus, quis tempor augue consectetur. Proin vulputate tristique neque. Integer commodo tellus felis, in bibendum odio euismod vel.</p>
                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </div>

