html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
@media only screen and (max-width:320px) {
    .nav-link{
        padding:0px;
    }
    .row.bootstrap.snippets{
        display:flex;
        justify-content: flex-end;
    }
}

    .storyp {
        padding-left: 100px;
    }

    .policyp {
        padding-left: 35px;
    }

.notification {
    margin-right: -700px;
}

.notification-data {
    margin-left: -480px;
}


@media only screen and (max-width:1399px) {
    .notification {
        margin-right: -500px;
    }
    .notification-data {
        margin-left: -280px;
    }

}
@media only screen and (max-width:1199px) {
    .notification {
        margin-right: -300px;
    }

}


    @media only screen and (max-width:991px) {
        .storyp {
            padding-left: 0px;
        }

        .policyp {
            padding-left: 0px;
            display: none;
        }

        .notification {
            margin-right: -300px;
        }

        

    }

@media only screen and (max-width:768px) {
    .notification {
        margin-right: -100px;
    }

   

}

@media only screen and (max-width:474px) {
    .notification {
        margin-right: 0px;
    }
}

@media (min-width: 992px) {
    .dropdown-menu-left {
        left: 50% !important;
        right: auto !important;
        text-align: center !important;
        transform: translate(-50%, 0) !important;
    }
}

@media (max-width: 992px) {
    .dropdown-menu-left {
        left: 50% !important;
        right: auto !important;
        text-align: center !important;
        transform: translate(-50%, 0) !important;
    }
}

@media (max-width: 474px) {
    .dropdown-menu-left {
        left: 50% !important;
        right: auto !important;
        wid
        text-align: center !important;
        transform: translate(-50%, 0) !important;
    }
}


    
   

    /*@media only screen and (max-width:331px) {
    .uname {
        padding-right: 10px;
    }
}*/


    .applyButton {
        border: 2px solid #F88634;
        border-radius: 100px;
        color: #F88634;
        padding-left: 20px;
        padding-right: 20px;
    }

        .applyButton:hover {
            background-color: #F88634;
            color: white;
        }



    html {
        position: relative;
        min-height: 100%;
    }

    body {
        margin-bottom: 60px;
    }