.endtext1 {
    justify-content: end;
}

.ratings {
    margin-right: 10px;
}

    .ratings i {
        color: #cecece;
        font-size: 25px;
    }

.applyButton {
    border: 2px solid #F88634;
    border-radius: 100px;
    color: #F88634;
    background-color:white;
    padding-left: 20px;
    padding-right: 20px;
}

    .applyButton:hover {
        background-color: #F88634;
        color: white;
    }


.rating-color {
    color: #fbc634 !important;
}

.rating1 {
    justify-content: space-between;
}

@media screen and (max-width : 576px) {
    .endtext1 {
        justify-content: center;
        max-height:50px;
    }
    
}

.btn:hover {
    background-color: #F88634;
    color:white;
}

.endtext2 {
    justify-content: start;
}

@media screen and (max-width : 576px) {
    .endtext2 {
        justify-content: center;
    }
}
