



input:invalid {
    border: 2px solid red;
    animation: shake 2s 2;
}



.headtxt {
    position: absolute;
    top: 643px;
    left: 159px;
    width: 592px;
    height: 109px;
    color: #ffffff;
}



.applyButton {
    border: 2px solid #F88634;
    border-radius: 100px;
    color: #F88634;
    padding-left: 20px;
    padding-right: 20px;
}

    .applyButton:hover {
        background-color: #F88634;
        color: white;
    }



.text {
    position: absolute;
    top: 776px;
    left: 159px;
    width: 849px;
    height: 120px;
    text-align: left;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;

}


.row {
    --bs-gutter-x: 0;
}

.form-example {
    display: block;
    justify-content: center;
    align-items: center;
}

.policy {
    text-align: center;
}

.img-fluid {
    height: 120vh;
}


@media only screen and (max-width:991px) {
    .img-fluid{
       height : auto;
    }

}

/*                                                              MISSION                                         sss*/